---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | prepend: assets | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-10 {% if site.twitter %}{% else %}mx-auto{% endif %}">
          <div class="page-heading">
             <!--<img src="{{ site.url }}{{ site.baseurl }}/assets/img/logo.png">-->
          </div>
        </div>
      </div>
    </div>
</header>
  <div class="container"  style="padding-bottom:200px">
    <div class="row">
      <div class="col-lg-8 col-md-10 {% if site.twitter %}{% else %}mx-auto{% endif %}">
           <div class="main-explain-area jumbotron">
            {{ content }}
            <div class="get-started-wrap">
           </div>
        </div>
       </div>
    </div>
  </div>
